/* Tablet */
@media (max-width: 992px) {
    /*header*/
  
    .navbar {
      gap: 5px;
    }
  
    .cart-icon {
      border: 0px solid;
    }
  
header{
  width: 100%;  

}
main{
  width: 100%;  
}

.slider img{
  width: 52%;

  }
  
  
#nosotros {

  display: block;
  gap: 1rem;
}

.nosotros-card img{ 
  display: none;
}

.info-container{
  flex-direction: column;
  width: 90%;

}

.container--card{
  padding: 0px, 40px;

}
.tratamiento-card{
  width: 60%;
  display: flex;
  flex-direction: column;
}
.tratamiento__info{
  display: flex;
  flex-direction: column;

}

footer{
  width: 100%;
}

.nav-links {
      position: absolute;
      top: 65px;
      left: 5%;
      right: 5%;
      width: 90%;
      flex-direction: column;
      background: linear-gradient(to bottom,skyblue, rgb(5, 5, 87)  );
      border: 2px solid yellowgreen;
      border-top: 0px;
      border-radius: 0px 0px 15px 15px;
      align-items: flex-start;
      padding: 45px 30px;
      gap: 25px;
      z-index: 2;
      display: none;
      -webkit-border-radius: 0px 0px 15px 15px;
      -moz-border-radius: 0px 0px 15px 15px;
      -ms-border-radius: 0px 0px 15px 15px;
      -o-border-radius: 0px 0px 15px 15px;
}
  
    .nav-links a {
      font-size: 18px;
    }
  
    /* Mostramos el icono del menu */
    .menu-label {
      display: flex;
      order: 2;
      cursor: pointer;
    }
  
    .menu-label img {
      height: 20px;
      width: 25px;
    }
  
    .open-menu {
      display: flex;
    }
  
    #contacto{
    
      width: 98%;

    }

    #contacto img{
      width: 175px;
    }


    /*Se van a superponer el cart y el menu si se abren juntos, eso lo solucionaremos en el modulo de js*/
  
    /*Hero*/

    

  
    /*info*/
    #info h2 {
      text-align: center;
      width: 80%;
    }
  
    .info-cards-container {
      max-width: 80%;
    }
  
    /* discover */
    #discover {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  
    .discover-info {
      flex-direction: column;
      align-items: center;
    }
  
    .discover-cards {
      flex-direction: column;
    }
  
    .discover-cards img {
      width: 100%;
    }
  
    /* Products */
    .categories {
      flex-wrap: wrap;
      max-width: 390px;
    }
  
    .category {
      width: 120px;
    }
  }
  
/* celular  */

@media (max-width: 576px){


#hero .semipresencial,  .presencial ,.online{
display: none;
}

#hero .ccee{
  display: flex;
  flex-direction: column;
  width: 300px;
  justify-content: center;
  align-items: center;
}

#nosotros h1{
  font-size: 70px;
}

.tratamiento-card{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.tratamiento__info{
  width: 100%;
  
}
#contacto{
  width: 100%;
  gap: 0rem;
}
#contacto img{
  display: none;
}

footer{
  width: 100%;
  justify-content: center;
}

footer img {
  width: 17%;
}
.form-field {
  padding: auto;

}

}