@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;800&family=Poppins:wght@300;400;600;800&family=Roboto+Mono:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

header{

    /* background: var(--background); */
    background: linear-gradient(to bottom,skyblue, rgb(5, 5, 87)  );
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    height: 90px;
    width: 100%;
    }

.nav-links {
    
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8rem;
        font-size: 25px;
        font-weight: 900;
        color:rgb(213, 213, 230);
    
        
    }

    .nav-links li:hover {
        transform: scale(1.2);
        transition: all 0, 3s;
    }

    .logo img{
        width:50%;
        border-radius: 20px;
        cursor: pointer;
        transition: all 0, 3s;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
}
    .logo:hover {
        transform: scale(1.2);
    }

.slider-frame {
	width: 1280px;
    height: auto;
	margin:50px auto 0;
	overflow: hidden;
}

.slider-frame ul {
	display: flex;
	padding: 0;
	width: 100%;
	
	animation: slide 20s infinite alternate ease-in-out;
}

.slider-frame li {
	width: 100%;
	list-style: none;
}

.slider-frame img {
	width: 100%;
    height: 100%;

}

@keyframes slide {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}

#nosotros{

    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;

}


    /* .slider{
        width: 100%;
        position: relative;
        display: flex;
        overflow: scroll;
        scroll-snap-type: x mandatory;
    
    
    }
    .slider img{
        width: 100%;
        position: sticky;
        object-fit: cover;
        border-radius: 10px;
        scroll-snap-align:center;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px; */

     */

    /* --------------------------------------------contactanos --------------*/


#contacto{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

    .container-form{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 50px;
    margin-top: 90px;
}
.container-form h2{
    margin-bottom: 15px;
    font-size: 35px
}
.container-form p{
    font-size: 17px;
    line-height: 1.6;
    margin-bottom: 30px;
}
.container-form a{
    font-size: 17px;
    display: inline-block;
    text-decoration: none;
    width: 100%;
    margin-bottom: 15px;
    color: black;
    font-weight: 700;
}
.container-form a i{
    color: royalblue;
    margin-right: 10px;
}
.container-form form .campo, textarea{
    width: 100%;
    padding: 15px 10px;
    font-size: 16px;
    border: 1px solid #dbdbdb;
    margin-bottom: 20px;
    border-radius: 3px;
    outline: 0px;
}
.container-form form textarea{
    max-width: 530px;
    min-width: 530px;
    min-height: 140px;
    max-height: 150px;
}
.container-form .btn-enviar{
    padding: 15px;
    font-size: 16px;
    border: none;
    outline: 0px;
    background: linear-gradient(to bottom,skyblue, rgb(5, 5, 87)  );
    color: white;
    border-radius: 3px;
    cursor: pointer;
    transition: all 300ms ease;
}
.container-form .btn-enviar:hover{
    background: #e39403;
}
.container-form img{ 
    width:50%;
    border-radius: 20px;
    
}

footer{
    width: 100%;
    padding: 10px;
    gap: 2rem;
    /* background-color: var(--background); */
    background: linear-gradient(to bottom, rgb(5, 5, 87) ,skyblue  );
    display: flex;
    align-items: center;
    justify-content: center;
}
footer ul{
    color: yellow;
    font-size: 20px;
    cursor: pointer;
}

footer ul:hover {
    transform: scale(1.2);
    transition: all 0, 3s;
}

footer img{
    
    width: 100px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

footer img:hover {
    transform: scale(1.2);
    transition: all 0, 3s;
}
